<a href="https://colab.research.google.com/github/simonecaletti/beldum-prj/blob/main/analyses/Beldum_Analysis2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pandas.plotting import table

This is a Python notebook for Pok√©mon VGC data analysis written by Simone Caletti (aka Manabu) and it is part of the Beldum project.

You can use this notebook to extract informations related to a VGC competition from a bunch of ETTs.

Upload a CSV database:

In [13]:
if os.path.exists("db.csv"):
  !rm db.csv
  
from google.colab import files
uploaded = files.upload()

df = pd.read_csv(r'db.csv')
#print(df)

Saving db.csv to db.csv

#SCORE ANALYSIS

In [61]:
df_ms = df.groupby("specie").score.mean().reset_index()
pd.DataFrame({"specie" : df_ms.specie, "mean score" : round(df_ms.score, 1)}).sort_values(by = ["mean score"], ascending = False).head(10)

            specie  mean score
40       Runerigus      1612.0
28        Indeedee      1586.4
7   Coalossal-Gmax      1583.5
4          Boltund      1583.0
30        Inteleon      1581.8
5        Cinderace      1565.8
19       Duraludon      1565.1
32  Mr. Mime-Galar      1565.0
10     Corviknight      1560.6
27       Hatterene      1558.8

In [82]:
pkm = "Duraludon"

df_ms3 = df.groupby("specie").get_group(pkm).groupby("obj").score.mean().reset_index()
pd.DataFrame({"obj" : df_ms3.obj, "mean score" : round(df_ms3.score, 1)}).sort_values(by = ["mean score"], ascending = False)

                obj  mean score
3      Shuca Berry       1610.0
0     Assault Vest       1569.7
2         Life Orb       1562.3
4  Weakness Policy       1558.0
1     Choice Specs       1475.0

In [85]:
df.groupby("score").get_group(df.score.max())

              specie             obj  ...         teammate5  score
30         Cinderace       Life Orb   ...         Duraludon   1638
31          Inteleon     Scope Lens   ...         Duraludon   1638
32           Boltund     Focus Sash   ...         Duraludon   1638
33          Indeedee  Twisted Spoon   ...         Duraludon   1638
34  Darmanitan-Galar   Choice Scarf   ...         Duraludon   1638
35         Duraludon   Assault Vest   ...  Darmanitan-Galar   1638

[6 rows x 26 columns]